div {background-color: #98dee7
; width: 1520px; height: 70px;}
	#nav {margin-left: 250px; padding-top: 20px;}
#nav li {list-style: none;}
#nav li a {font-size: 20px; text-decoration: none; display: block; color: black; padding: 5px 15px; background-color: none;}
#nav li, #nav li a {float: left;}
#nav li{position:relative; border-right: 2px solid black;}
#nav li ul {position: absolute; margin: 0; padding: 0; top: 100%;
display: none;}
#nav li:hover > ul {display: block;}
#home {position: absolute; left: 300px;}
#offers {position: absolute; left: 380px;}
#history {position: absolute; left: 475px;}
#gallery {position: absolute; left: 585px;}
#contacts {position: absolute; left: 695px}
#language {position: absolute; left: 820px}
#еnglish {position: absolute; left: 820px; top: 25px}
#title {position:  absolute; left: 620px; top: 210px; font-size: 60px; color: #272525}
#logo {position:  absolute; top: 25px; left: 15px}
#title-logo {position: absolute; top: 25px; left: 80px}
#title-2 {position: absolute; top: 330px; left: 590px; font-size: 20px;}
.fa {
  padding: 15px;
text-align: center;
  margin: 5px 2px;
  font-size: 20px;
  width: 10px;
}
.fa-facebook {
  background: #3B5998;
  color: white; position: absolute; top: 20px; left: 1320px;
}
.fa-twitter {
  background: #55ACEE;
  color: white; position: absolute; top: 20px; left: 1380px
}

.fa-instagram {
  background: #125688;
  color: white; position: absolute; top: 20px; left: 1440px
}

.fa:hover {
    opacity: 0;
}
#div-1 {height: 47px; background-color: #ffcc66
;}
#text-2-1 {font-size: 30px;}
#div-2 {height: 540px; background-color:  #33ff99

}
#image-2 {width: 420px; height: 450px; position: absolute; top: 850px; left: 1050px}
#text-3-1 {font-size: 30px; position: absolute; left: 520px}
#image-3 {width: 400px; height: 250px; position: absolute; top: 1450px; left: 50px}
#div-3 {height: 370px; background-color: #ff9966


;}
#title-2 {background-color: #ffcc66;}