div {background-color: #98dee7
; width: 1520px; height: 70px;}
	#nav {margin-left: 250px; padding-top: 20px;}
#nav li {list-style: none;}
#nav li a {font-size: 20px; text-decoration: none; display: block; color: black; padding: 5px 15px; background-color: none;}
#nav li, #nav li a {float: left;}
#nav li{position:relative; border-right: 2px solid black;}
#nav li ul {position: absolute; margin: 0; padding: 0; top: 100%;
display: none;}
#nav li:hover > ul {display: block;}
#home {position: absolute; left: 300px;}
#offers {position: absolute; left: 380px;}
#history {position: absolute; left: 475px;}
#gallery {position: absolute; left: 585px;}
#contacts {position: absolute; left: 695px}
#language {position: absolute; left: 820px}
#Ðµnglish {position: absolute; left: 820px; top: 30px}
#logo {position:  absolute; top: 25px; left: 15px}
#title-logo {position: absolute; top: 25px; left: 80px}
.fa {
  padding: 15px;
text-align: center;
  margin: 5px 2px;
  font-size: 20px;
  width: 10px;
}
.fa-facebook {
  background: #3B5998;
  color: white; position: absolute; top: 20px; left: 1320px;
}
.fa-twitter {
  background: #55ACEE;
  color: white; position: absolute; top: 20px; left: 1380px
}

.fa-instagram {
  background: #125688;
  color: white; position: absolute; top: 20px; left: 1440px
}

.fa:hover {
    opacity: 0;
}
#image-title {position: absolute; left: 8px; top: 85px; width: 1520px; height: 630px}
#div-header {background-color: #98dee7;}
#title {position: absolute; top: 220px; left: 650px; font-size: 70px}
#Rome {postion: absolute; top: 900px; left: 70px; width: 150px; height: 400px}
#button-1 {position:  absolute; top: 800px; left:  80px; width: 340px; height: 340px;}
#rim {width: 320px; height: 290px;}
#button-2 {position:  absolute; top: 800px; left:  600px; width: 340px; height: 340px;}
#milan {width: 320px; height: 290px;}
#button-3 {position:  absolute; top: 800px; left:  1100px; width: 340px; height: 340px;}
#genoa {width: 320px; height: 290px;}